$header-height: 50px;
$footer-height: 40px;
$border-color: #ccc;
div.frame {
  display: flex;  

  div.header {
    position: fixed;
    height: $header-height;
    border-bottom: 1px solid $border-color;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: white;
  }

  div.footer {
    position: fixed;
    height: $footer-height;
    border-top: 1px solid $border-color;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;
  }

  div.content {
    padding-top: $header-height;
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}